*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden;
 }
.shapeUp{
    margin-left: 2rem;

}.carrete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.6rem;
}
.logo{
    margin: 5rem;
}
.ShapeDown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}
.btn{
    display: flex;
    justify-content: center;
    margin: auto;
}

a{
    background-color: red;
    position:absolute;
}
